{% extends "base.html" %}
{% load static %}
{% block sidebar %}

{% endblock sidebar %}

{% block main-container-bar %}
<main class="main-content  col-sm-12 p-0 {% if sidebar %} col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3 {% else %} col-lg-12 col-md-12 col-sm-12 p-0 {% endif %}">
    <div class="main-navbar sticky-top bg-white">
{% endblock main-container-bar %}


{% block navbar-logo %}
<a class="navbar-brand w-25 mr-0" href="#" style="line-height: 25px;">
    <div class="d-table m-auto">
        <span class="d-none d-md-inline ml-1" style="font-family: 'Press Start 2P', cursive; font-size: 24px; ">Code</span> <span class="d-none d-md-inline ml-1" style="font-family: 'Orbitron', sans-serif; font-size: 24px;">Coleo</span>
    </div>
</a>
{% endblock navbar-logo %}


{% block page-header %}

{% endblock page-header %}

{% block content %}
<div class="row mt-4">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3">
      <div class="card card-small mb-4 pt-3">
        <div class="card-header border-bottom text-center">
          <div class="mb-3 mx-auto">
          <h4 class="mb-0"> #{{ obj.tag }} </h4>
          </div>
      </div>
    </div>
    </div>
    <div class="col-lg-7">
      {% for post in obj.get_posts %}
        {{ post.content }} <br>
      {% endfor %}
      <div class="card card-small card-post mb-4">
        <div class="card-header border-bottom d-flex">
            <div class="card-post__author d-flex">
              <!-- <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('images/avatars/3.jpg');">Written by Anna Kunis</a> -->
              <img class="card-post__author-avatar card-post__author-avatar--small" src="{% static 'images/avatars/0.jpg' %}" alt="User Avatar">
              <div class="d-flex flex-column justify-content-center ml-3">
                <span class="card-post__author-name">Mark Jameson</span>
                <small class="text-muted">21 March 2011</small>
              </div>
            </div>
            <div class="my-auto ml-auto">
              <button class="btn btn-sm btn-white py-0" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <h5>...</h5> </button>
              <ul class="dropdown-menu px-2" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
            </div>
          </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Instantly gentleman contained belonging exquisite now direction</h5> -->
        <p class="card-text text-muted">West room at sent if year. Numerous indulged distance old law you. Total state as merit court green decay he. Steepest merit checking railway...</p>
      </div>
      <div class="card-footer border-top d-flex">
          <button type="button" class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="badge badge-primary">456</span> </button>
          <button type="button" class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="badge badge-danger">231</span> </button>
          <button type="button" class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> <span class="badge badge-success">64</span> </button>
          <button type="button" class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="badge badge-info">126</span> </button>

        <div class="my-auto ml-auto">
          <a class="btn btn-sm btn-white" href="#"> Read More. </a>
        </div>
      </div>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
{% endblock content %}