{% load static %}
<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page-title %} {% endblock page-title %}</title>

    <meta name="description" content="It's the website for the programming community to share their code and what they are working on.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.0.0" href="{% static 'styles/shards-dashboards.1.0.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/extras.1.0.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}    {% endblock styles %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            {% block sidebar %} {% endblock sidebar %}
            <!-- End Main Sidebar -->
            {% block main-container-bar %} {% endblock main-container-bar %}
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                {% block navbar-logo %}
                
                {% endblock navbar-logo %}
                <form method="GET" action="{% url 'post:list'%}" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                    <div class="input-group input-group-seamless ml-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <input class="navbar-search form-control" name="q" value="{{request.GET.q}}" type="text" placeholder="Search for something..." aria-label="Search"> </div>
                    </form>
                <ul class="navbar-nav border-left flex-row ">
                    <li class="nav-item border-right dropdown notifications">
                        <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="nav-link-icon__wrapper">
                                <i class="material-icons">&#xE7F4;</i>
                                <span class="badge badge-pill badge-danger">2</span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <div class="notification__icon-wrapper">
                                    <div class="notification__icon">
                                        <i class="material-icons">&#xE6E1;</i>
                                    </div>
                                </div>
                                <div class="notification__content">
                                    <span class="notification__category">Analytics</span>
                                    <p>Your website’s active users count increased by
                                        <span class="text-success text-semibold">28%</span> in the last week. Great job!</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="notification__icon-wrapper">
                                    <div class="notification__icon">
                                        <i class="material-icons">&#xE8D1;</i>
                                    </div>
                                </div>
                                <div class="notification__content">
                                    <span class="notification__category">Sales</span>
                                    <p>Last week your store’s sales count decreased by
                                        <span class="text-danger text-semibold">5.52%</span>. It could have been worse!</p>
                                </div>
                            </a>
                            <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle mr-2" src="{% static 'images/avatars/0.jpg' %}" alt="User Avatar">
                            <span class="d-none d-md-inline-block">Sierra Brooks</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-small">
                            <a class="dropdown-item" href="user-profile-lite.html">
                                <i class="material-icons">&#xE7FD;</i> Profile</a>
                            <a class="dropdown-item" href="components-blog-posts.html">
                                <i class="material-icons">vertical_split</i> Blog Posts</a>
                            <a class="dropdown-item" href="add-new-post.html">
                                <i class="material-icons">note_add</i> Add New Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">
                                <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                        </div>
                    </li>
                </ul>
                <nav class="nav">
                    <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse"
                        data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                        <i class="material-icons">&#xE5D2;</i>
                    </a>
                </nav>
            </nav>
        </div>
        <!-- / .main-navbar -->
        <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            {% block page-header %}
            
            {% endblock page-header %}
            <!-- End Page Header -->
        
        <!-- content -->
        {% block content %}
        
        {% endblock content %}
        </div>
        <!-- end content-->
        <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
            <span class="copyright ml-auto my-auto mr-2">Copyright © 2018
                <a href="https://spiderlabweb.com" rel="nofollow">SpiderLabWeb</a>
                <br>
                <span>Created By: <a href="https://www.facebook.com/georgianamitrawat" rel="nofollow" target="_blank">Amit Rawat</a></span>
            </span>

        </footer>
        </main>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="{% static 'scripts/extras.1.0.0.min.js' %}"></script>
    <script src="{% static 'scripts/shards-dashboards.1.0.0.min.js' %}"></script>
    <script src="{% static 'scripts/app/app-blog-overview.1.0.0.js' %}"></script>
    <script>
        function loadPostContainer(postContainerID){
            var query = getParameterByName('q')
            var postList = [];
            var nextPostUrl;
            
            var postContainer;
            if(postContainerID){
                postContainer = $("#"+postContainerID)
            }else{
                postContainer = $("#post-container")
            }
            var initialUrl = postContainer.attr("data-url") || '/api/post/';
            
            $(document.body).on("click",".likeBtn",function(e){
                e.preventDefault()
                this_ = $(this)
                var postId = this_.attr("data-id")
                var likedUrl = "/api/post/like/"+postId+"/"
                
                $.ajax({
                    url: likedUrl,
                    method: "GET",
                    success: function(data){
                        console.log(data)
                        if(data.liked){
                            this_.text("liked")
                        }else{
                            this_.text("dislike")
                        }
                    },
                    error: function(data){
                        console.log("error")
                        console.log(data)
                    }
                })
            })

            $(document.body).on("click",".shareBtn", function(e){
                e.preventDefault()
                var url = "/api" + $(this).attr('href')
        
                $.ajax({
                    url: url,
                    method: "GET",
                    success:function(data){
                        console.log(data)
                        if(initialUrl == "/api/post/"){
                            attachPost(data,true,true);
                            updateHashLinks()
                        }
                        
                    },
                    error:function(data){
                        console.log("error")
                        console.log(data)
                    }
                })
            })
        
            function updateHashLinks(){
                $(".card-text").each(function(data){
                    var hashtagregx = /(^|\s)#([\w\d-]+)/g
                    var usernameregx = /(^|\s)@([\w\d-]+)/g
                    var currentHtml = $(this).html()
                    var newText;
                    var newText = currentHtml.replace(hashtagregx, "$1<a href='/tags/$2/'>#$2</a>")
                    var newText = newText.replace(usernameregx, "$1<a href='/$2/'>@$2</a>")
                    $(this).html(newText)
                })
            }
        
            function attachPost(postValue, prepend, share) {
                var postContent = postValue.content;
                var postUser = postValue.user;
                var timeSince = postValue.timesince;
                var postHtmlBody;
                if(share && postValue.parent){
                    parentUser = postValue.parent.user
                        var postHtmlBody= '<div class="card card-small card-post mb-4">'+
                            '<div class="card-header border-bottom d-flex">'+
                                '<div class="card-post__author d-flex">'+
                                  '<div class="d-flex flex-column justify-content-center ml-3">'+
                                    '<span class="card-post__author-name">'+ '<a href="' + '<a href="'+ postUser.url +'">@' + postUser.username + '</a><small> shared the post of <a href="'+parentUser.url+'">@'+ parentUser.username +'</a></small></span>'+
                                    '<small class="text-muted">'+ timeSince +'</small>'+
                                  '</div>'+
                                '</div>'+
                                '<div class="my-auto ml-auto">'+
                                  '<button class="btn btn-sm btn-white py-0" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <h5>...</h5> </button>'+
                                  '<ul class="dropdown-menu px-2" aria-labelledby="dropdownMenu1">'+
                                      '<li><a href="#">Edit</a></li>'+
                                      '<li><a href="#">Delete</a></li>'+
                                    '</ul>'+
                                '</div>'+
                              '</div>'+
                          '<div class="card-body">'+
                            '<!-- <h5 class="card-title">Instantly gentleman contained belonging exquisite now direction</h5> -->'+
                            '<p class="card-text text-muted">' + postContent + '</p>'+
                          '</div>'+
                          '<div class="card-footer border-top d-flex">'+
                              '<a class="mb-0 btn btn-sm btn-outline-light mr-1 likeBtn" data-id='+ postValue.id +'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="badge badge-primary">' + postValue.liked +'</span> </a>'+
                              '<a class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="badge badge-danger">231</span> </a>'+
                              '<a class="mb-0 btn btn-sm btn-outline-light mr-1 shareBtn" href="/post/share/' + postValue.id +'"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> <span class="badge badge-success">64</span> </a>'+
                              '<a class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="badge badge-info">126</span> </a>'+
                            '<div class="my-auto ml-auto">'+
                              '<a class="btn btn-sm btn-white" href="/post/detail/' + postValue.id + '"> Read More. </a>'+
                            '</div>'+
                          '</div>'+
                          '</div>'
        
                }else{
                    var postHtmlBody= '<div class="card card-small card-post mb-4">'+
                        '<div class="card-header border-bottom d-flex">'+
                            '<div class="card-post__author d-flex">'+
                              '<div class="d-flex flex-column justify-content-center ml-3">'+
                                '<span class="card-post__author-name">'+ '<a href="'+ postUser.url +'">@' + postUser.username + '</a></span>'+
                                '<small class="text-muted">'+ timeSince +'</small>'+
                              '</div>'+
                            '</div>'+
                            '<div class="my-auto ml-auto">'+
                              '<button class="btn btn-sm btn-white py-0" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <h5>...</h5> </button>'+
                              '<ul class="dropdown-menu px-2" aria-labelledby="dropdownMenu1">'+
                                  '<li><a href="#">Edit</a></li>'+
                                  '<li><a href="#">Delete</a></li>'+
                                '</ul>'+
                            '</div>'+
                          '</div>'+
                      '<div class="card-body">'+
                        '<!-- <h5 class="card-title">Instantly gentleman contained belonging exquisite now direction</h5> -->'+
                        '<p class="card-text text-muted">' + postContent + '</p>'+
                      '</div>'+
                      '<div class="card-footer border-top d-flex">'+
                          '<a class="mb-0 btn btn-sm btn-outline-light mr-1 likeBtn" data-id='+ postValue.id +'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="badge badge-primary">' + postValue.liked +'</span> </a>'+
                          '<a class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="badge badge-danger">231</span> </a>'+
                          '<a class="mb-0 btn btn-sm btn-outline-light mr-1 shareBtn" href="/post/share/' + postValue.id +'"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> <span class="badge badge-success">64</span> </a>'+
                          '<a class="mb-0 btn btn-sm btn-outline-light mr-1"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="badge badge-info">126</span> </a>'+
                
                        '<div class="my-auto ml-auto">'+
                          '<a class="btn btn-sm btn-white" href="/post/detail/' + postValue.id + '"> Read More. </a>'+
                        '</div>'+
                      '</div>'+
                      '</div>'
        
                }
        
                if(prepend == true){
                    postContainer.prepend(postHtmlBody);
                }else{
                    postContainer.append(postHtmlBody);
                }
            }
        
            function parsePosts() {
                if(postList == 0){
                    postContainer.text("No Posts Found!")
                }else{
                    $.each(postList, function (key, value) {
                        var postKey = key;
                        if(value.parent){
                            attachPost(value,false, true)
                        }else{
                            attachPost(value,false)
                        }
                        
                    })
                }
        
            }
        
            function fetchPosts(url) {
                console.log('fetching...')
                var fetchUrl;
                if(!url){
                    fetchUrl = initialUrl;
                }else{
                    fetchUrl = url
                }
                $.ajax({
                    url: fetchUrl,
                    method: 'GET',
                    data: {
                        'q':query
                    },
                    success: function (data) {
                        postList = data.results
                        if(data.next){
                            nextPostUrl = data.next
                        }else{
                            $('#loadmore').css("display","none")
                        }
                        
                        parsePosts()
                        updateHashLinks()
                    },
                    error: function (data) {
                        console.log("error")
                        console.log(data)
                    }    
                })
            }
            fetchPosts()
        
            $('#loadmore').click(function(event){
                event.preventDefault()
                if(nextPostUrl){
                    fetchPosts(nextPostUrl)
                }
            })
        
            $("#post-form").submit(function(event){
                event.preventDefault()
                var this_ = $(this) 
                var formData = this_.serialize()
        
                $.ajax({
                    url: '/api/post/create/',
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        attachPost(data,true);
                        updateHashLinks()
                        this_.find("input[type=text], textarea").val("")
                    },
                    error: function (data) {
                        console.log("error")
                        console.log(data)
                    }
                })
            })
        }

        
    </script>
    {% block scripts %}   {% endblock scripts %}
</body>

</html>