{% extends "base.html" %}
{% load static %}

{% block page-title %}

{% endblock page-title %}

{% block scripts %}
<script src="{% static 'scripts/post_list.js' %}"></script>
{% endblock scripts %}

{% block sidebar %}
{% url 'post:list' as homelink %}
{% include "sidebar.html" with home="active" home_link=homelink %}
{% endblock sidebar %}

{% block main-container-bar %}
<main class="main-content{% if sidebar %} col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3 {% else %} col-lg-12 col-md-12 col-sm-12 p-0 {% endif %}">
		<div class="main-navbar sticky-top bg-white">
{% endblock main-container-bar %}


{% block navbar-logo %}

{% endblock navbar-logo %}


{% block page-header %}

{% endblock page-header %}

{% block content %}
		<div class="row mt-4">        
				<div class="col-lg-8">
					{% if not request.GET.q %}
						<div class="card card-small mb-3">
							<div class="card-body">
								{% include "posts/form.html" with form=form action_url=post_url btn_title='POST' form_id='post-form' %}
							</div>
						</div>
					{% endif %}
					<div  id="post-list">

					</div>
					<a href="#" id="loadmore">Load More posts</a>
				</div>
				<div class="col-lg-4">
						<div class="page-header row no-gutters py-0">
								<div class="col-12 col-sm-4 text-center text-sm-left mb-0">
										<span class="text-uppercase page-subtitle">Trending</span>
										<!-- <h3 class="page-title">Trending</h3> -->
								</div>
						</div>
						{% for Post in trending_posts %}
								<div class="card card-small card-post mb-4">
										<div class="card-body">
											<h5 class="card-title">Instantly gentleman contained belonging exquisite now direction</h5>
											<p class="card-text text-muted">West room at sent if year. Numerous indulged distance old law you. Total state as merit court green decay he. Steepest merit checking railway...</p>
										</div>
										<div class="card-footer border-top d-flex">
											<div class="card-post__author d-flex">
												<a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('images/avatars/3.jpg');">Written by Anna Kunis</a>
												<div class="d-flex flex-column justify-content-center ml-3">
													<span class="card-post__author-name">Mark Jameson</span>
													<small class="text-muted">21 March 2011</small>
												</div>
											</div>
											<div class="my-auto ml-auto">
												<a class="btn btn-sm btn-white" href="#">
													<i class="far fa-bookmark mr-1"></i> Bookmark </a>
											</div>
										</div>
								</div>            
						{% endfor %}
				</div>
			</div>
{% endblock content %}